* {
    margin: 0;
    padding: 0;
    }

#body {
    width: 30%;
    height: 100%;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #faf3eb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px #d3d2d281 ;
}

h1{
    font-size: xx-large;
    
    }

.postips {
    display: flex;
    flex-direction: row;
    text-align: justify;
}


svg {
    float:right;
    margin-right: 40px;
    }


.li {
display: flex;
margin-left: 25px;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
}


footer{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;

}
.boton1{
    width: 230px;
    border-radius: 8%;

}

.boton2{
    background-color: rgb(179, 176, 176);
width: 110px;
border-radius: 8%;
border-color: rgb(79, 224, 243);
}

/* Dina */
.boton{
    border: none;
    background-color: transparent;
}

ul li.checked {
    text-decoration: line-through;
  }